<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'landing_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'partials/header' %>
   

  </head>

  <body>


<form>      
  <input name="name" type="text" class="contact" placeholder="Name" />   
  <input name="email" type="text" class="contact" placeholder="Email" />
  <textarea name="text" class="contact" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
<%= render 'partials/footer' %>
</body>

</html>

